@model IEnumerable<EngineeringExamPreparation.Models.Chapter>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChapterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.SubjectName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                    <a class="btn btn-info btn-sm" asp-controller="Questions" asp-action="AddMultiple" asp-route-chapterId="@item.ChapterId">Add Questions <span class="badge bg-danger">(@item.Questions.Count)</span> </a>

                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.ChapterId">Edit</a>
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ChapterId">Details</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ChapterId">Delete</a>
            <td/>
        </tr>
}
    </tbody>
</table>
