@model TestResultViewModel
@{
  
}

<h2>Test Result</h2>

<span>Score: @Model.Score</span>/<span>@Model.QuestionCount</span>

@foreach (var question in Model.Questions)
{
        <div class="result-preview">
            <h4>@question.Text</h4>
            <ol>
            @foreach(var choice in question.testChoices)
            {
                <li class="@((choice.IsCorrect) ? "correct-choice" : ((choice.Selected) ? "select-choice" : ""))">
                    @choice.Text
                 @*<p class="@((choice.IsCorrect) ? "correct-choice" : ((choice.Selected) ? "select-choice" : ""))">@choice.Text</p>*@
                    @if(choice.IsCorrect)
                    {
                        <span class="badge bg-success">Correct</span>
                    }
             </li>
            

            }
            </ol>
           
        </div>
}
</html>
